:root {
    --sr-black: black;
    --sr-blue: #262b48;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif !important;
}

img {
    object-fit: cover;
    object-position: top;
}

/* nav bar */
#logo {
    font-family: 'Roboto', sans-serif !important;
    font-size: 40px;
}

/* welcome */
#welcome {
    height: 60vh;
}

/* images display */

.grid-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px 20px;
}


/* footer */
footer {
    background-color: var(--sr-blue);
}

@media only screen and (max-width: 330px) {
    .grid-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 10px 20px;
    }
}

@media only screen and (max-width: 425px) {
    #logo {
        font-size: 20px;
    }
}